
SILEX_WEB_REST/app/cache/*
SILEX_WEB_REST/app/logs/*
SILEX_WEB_REST/app/parameters.dev.yml
SILEX_WEB_REST/app/parameters.dev.yaml
SILEX_WEB_REST/app/parameters.prod.yml
SILEX_WEB_REST/app/parameters.prod.yaml
SILEX_WEB_REST/vendor

NAMI/config/config.dev.yaml
NAMI/config/config.dev.yml
NAMI/config/config.prod.yaml
NAMI/config/config.prod.yml
NAMI/node_modules

SU/config/config.dev.yaml
SU/config/config.dev.yml
SU/config/config.dev.yaml
SU/config/config.dev.yml
SU/node_mudules